<div class="x_panel">
    <div class="x_title">
        <h2>Panel Lorem</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li> -->
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, phasellus maecenas dapibus viverra fringilla tincidunt vitae facilisi, ultricies ac aliquet imperdiet libero magnis. Vivamus potenti vehicula congue tempus et fusce venenatis habitant integer
            lectus facilisis ultrices, nascetur aliquet id accumsan tempor eu pretium curabitur facilisi nostra. Mollis urna integer imperdiet magnis varius sapien lobortis pharetra faucibus enim, ut dictum ridiculus litora facilisi viverra sed nibh commodo
            ullamcorper, morbi feugiat dis eget suspendisse velit magna blandit risus. Turpis est in convallis lacus morbi, vitae consequat aliquam dignissim viverra, id gravida pulvinar libero.</p>
        <p>Nec nisl magna habitasse facilisi euismod netus ullamcorper magnis, leo turpis primis duis varius iaculis conubia montes placerat, cras pulvinar parturient sagittis integer vel natoque. Magna orci cursus quisque suspendisse habitant arcu mattis
            magnis justo, consequat habitasse egestas senectus donec inceptos penatibus vel porta lacus, mi ultrices torquent faucibus a tristique sociis rhoncus. Ac habitant id taciti pharetra tortor tempus, viverra venenatis class integer a dis posuere,
            dapibus suscipit tempor lobortis placerat.</p>
        <p>Duis eros natoque ad volutpat facilisi et tortor nisl penatibus feugiat diam himenaeos, mauris ultrices tristique tellus faucibus a suscipit dictum netus montes mus, sociis dapibus ullamcorper placerat felis porttitor accumsan ac sociosqu tempor
            pretium. Potenti rutrum lacus turpis dis euismod ridiculus accumsan quam pulvinar, tellus et litora ut placerat laoreet senectus taciti, hac pellentesque enim faucibus scelerisque venenatis cras dapibus. Dui ante mus posuere quam odio mi porta
            ac condimentum ornare viverra consequat nibh, blandit id vestibulum vulputate duis suscipit nisi habitant quisque suspendisse turpis ridiculus. Nunc porttitor lacus quam ac scelerisque purus hac convallis torquent suspendisse nec phasellus
            quis nullam integer metus, nisl aptent commodo leo montes felis dapibus ornare fringilla placerat litora venenatis luctus quisque.</p>
    </div>
</div>