<div class="x_panel  animated fadeIn">
    <div class="x_title">
        <h2>Ensayos</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">


        <div class="row  ">
            <div class="col col-md-4 col-sm-5 col-xs-12 ">
                <div class="row ">
                    Transformador
                </div>
                <div class="row  form-horizontal no-gutters ">
                    <div class="form-group">
                        <label class=" col-md-5 col-sm-5 col-xs-12 left" for="first-name">
                          Relatorio:&nbsp;
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" id="first-name" class="form-control col-md-7 col-xs-12  input-sm">
                        </div>
                    </div>
                </div>
                <div class="row  form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                          Nro OT:&nbsp;
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                        </div>
                    </div>
                </div>
                <div class="row  form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                          Nro Fabrica:&nbsp;
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                        </div>
                    </div>
                </div>
                <div class="row  form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                          Nro ANDE:&nbsp;
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                        </div>
                    </div>
                </div>
                <div class="row  form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                          Potencia:&nbsp;
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                        </div>
                    </div>
                </div>
                <div class="row  form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                          Fases:&nbsp;
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                        </div>
                    </div>
                </div>
                <div class="row  form-horizontal">
                    <div class="right">
                        <button type="button" class="btn btn-primary">Buscar</button>
                        <button type="button" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn btn-primary">Nuevo</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 margin-left-10">
                <div class="row ">
                    Ensayos
                </div>
                <div class="row">
                    <div class="row">
                        &nbsp;&nbsp;
                        <div class="form-group">
                            <label class="col-md-2 col-sm-2 col-xs-12" for="first-name">
                              Actual:&nbsp;
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- <div class="col-md-1">&nbsp;</div> -->
                        <button type="button" class="btn btn-secondary col-md-3 col-sm-3 col-xs-3 btn-ensayo" data-toggle="modal" data-target="#ModalResistencia">Resistencia</button>
                        <button type="button" class="btn btn-secondary col-md-3 col-sm-3 col-xs-3 btn-ensayo">Relaciones</button>
                        <button type="button" class="btn btn-secondary col-md-3 col-sm-3 col-xs-3 btn-ensayo">Hermeticidad</button>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-1">&nbsp;</div> -->
                        <button type="button" class="btn btn-secondary  col-md-3 col-sm-3 col-xs-3 btn-ensayo">Vacio</button>
                        <button type="button" class="btn btn-secondary  col-md-3 col-sm-3 col-xs-3 btn-ensayo">Aplicada AT</button>
                        <button type="button" class="btn btn-secondary  col-md-3 col-sm-3 col-xs-3 btn-ensayo">Megado</button>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-1">&nbsp;</div> -->
                        <button type="button" class="btn btn-secondary col-md-3 col-sm-3 col-xs-3 btn-ensayo">Corto</button>
                        <button type="button" class="btn btn-secondary col-md-3 col-sm-3 col-xs-3 btn-ensayo">Aplicada BT</button>
                        <button type="button" class="btn btn-secondary col-md-3 col-sm-3 col-xs-3 btn-ensayo">Calentamiento</button>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-12 ">
                <div class="row ">
                    Resultado Final
                </div>
                <div class="row ">
                    <div class="row  form-horizontal no-gutters ">
                        <div class="form-group">
                            <label class=" col-md-5 col-sm-5 col-xs-12 left" for="first-name">
                              Z75%:&nbsp;
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row  form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                              lo(%):&nbsp;
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row  form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                              Wt:&nbsp;
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row  form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12" for="first-name">
                              Wo:&nbsp;
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" id="first-name" class="form-control col-md-7 col-xs-12 input-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6">

            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6">
                <div class="right">
                    <button type="button" class="btn btn-secondary ">
                        <span class="fa fa-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-secondary ">
                        <span class="fa fa-arrow-down"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 table-responsive">
                <table class="table table-striped jambo_table table-bordered table-sm">
                    <thead>
                        <tr class="headings">
                            <th>
                                <!-- <input type="checkbox" id="check-all" class="flat"> -->
                            </th>

                            <th class="column-title">Nro OT </th>
                            <th class="column-title">Nro Fabrica </th>
                            <th class="column-title">Nro Ande </th>
                            <th class="column-title">Potencia </th>
                            <th class="column-title">Vacio </th>
                            <th class="column-title">R.AT </th>
                            <th class="column-title">R.BT</th>
                            <th class="column-title">TTR </th>
                            <th class="column-title">Apl.AT </th>
                            <th class="column-title">Apl.BT </th>
                            <th class="column-title">Garantizado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="even pointer">
                            <td class="even pointer">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class="column-title">10002452</td>
                            <td class="column-title">43453453</td>
                            <td class="column-title">10022558</td>
                            <td class="column-title">220 </td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span> </td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title">65165 Kw/h</td>
                        </tr>
                        <tr class="even pointer">
                            <td class="even pointer">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class="column-title">10002552</td>
                            <td class="column-title">43453452</td>
                            <td class="column-title">10022282</td>
                            <td class="column-title">220 </td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title"><span class="fa fa-remove red"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span> </td>
                            <td class="column-title"><span class="fa fa-remove red"></span></td>
                            <td class="column-title"><span class="fa fa-remove red"></span> </td>
                            <td class="column-title"><span class="fa fa-remove red"></span></td>
                            <td class="column-title">65165 Kw/h</td>
                        </tr>
                        <tr class="even pointer">
                            <td class="even pointer">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class="column-title">10025976</td>
                            <td class="column-title">43853452</td>
                            <td class="column-title">10029846</td>
                            <td class="column-title">220 </td>
                            <td class="column-title"><span class="fa fa-remove red"></span></td>
                            <td class="column-title"><span class="fa fa-remove red"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span> </td>
                            <td class="column-title"><span class="fa fa-remove red"></span></td>
                            <td class="column-title"><span class="fa fa-check green"></span> </td>
                            <td class="column-title"><span class="fa fa-check green"></span></td>
                            <td class="column-title">65165 Kw/h</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Modal  Resistencia-->
<div class="modal fade" id="ModalResistencia" tabindex="-1" role="dialog" aria-labelledby="ModalResistenciaLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalResistenciaLabel">Resistencia AT y BT</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <label class="col-md-2 col-sm-3 col-xs-12" for="first-name">
                              Nro Fabrica:&nbsp;
                            </label>
                            <div class="col-md-3 col-sm-7 col-xs-10">
                                <input type="text" id="first-name" class="form-control input-sm">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                  H1-H2:&nbsp;
                                </label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <input type="text" id="first-name" class="form-control input-sm">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    Ω
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                  H2-H3:&nbsp;
                                </label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <input type="text" id="first-name" class="form-control input-sm">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    Ω
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                  H3-H1:&nbsp;
                                </label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <input type="text" id="first-name" class="form-control input-sm">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    Ω
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                  X1-X2:&nbsp;
                                </label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <input type="text" id="first-name" class="form-control input-sm">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    mΩ
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                  X2-X3:&nbsp;
                                </label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <input type="text" id="first-name" class="form-control input-sm">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    mΩ
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-sm-3 col-xs-12" for="first-name">
                                  X3-X1:&nbsp;
                                </label>
                                <div class="col-md-7 col-sm-7 col-xs-10">
                                    <input type="text" id="first-name" class="form-control input-sm">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    mΩ
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="fa fa-remove"></span>
                    Terminar
                </button>
                <button type="button" class="btn btn-secondary">
                    <span class="fa fa-arrow-left"></span>
                    Anterior
                </button>
                <button type="button" class="btn btn-secondary">
                  <span class="fa fa-arrow-right"></span>
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>