<div class="x_panel  animated fadeIn">
    <div class="x_title">
        <h2>Menus</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <form id="formularioSubmenu">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="id_submenu" class="form-control-static">Id</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="id_submenu" name="id_submenu" class="form-control input-sm" value="0" placeholder="Id">
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="botonBuscar" class="btn btn-primary btn-sm" onclick="cargar_busqueda('frm/accesos/archivos/submenus/buscar_submenu.html')">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="nombre_submenu" class="form-control-static">Nombre</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" id="nombre_submenu" name="nombre_submenu" class="form-control input-sm" placeholder="Nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="url_submenu" class="form-control-static">Url</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" id="url_submenu" name="url_submenu" class="form-control input-sm" placeholder="Url">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>