<!-- sidebar -->
<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a [routerLink]="['']" class="site_title"><i class="fa fa-desktop"></i> <span>&nbsp;{{_infoPagina.info.nombre}}</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <!-- <div class="profile_pic">
                <img src="assets/images/img.jpg" alt="..." class="img-circle profile_img">
            </div> -->
            <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{_infoPagina.usuario.nombre_usuario}}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section" *ngFor="let modulo of _infoPagina.modulos">
                <h3>{{modulo.nombre_modulo}}</h3>
                <ul class="nav side-menu" *ngFor="let menu of modulo.menus">
                    <li><a><i [class]="menu.icono"></i> {{menu.nombre_menu}} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li *ngFor="let forma of menu.formas">
                                <a [routerLink]="forma.forma">{{forma.nombre_forma}}</a>
                            </li>
                            <!-- <li>
                                    <a>Level One<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu"><a href="level2.html">Level Two</a>
                                        </li>
                                        <li><a href="#level2_1">Level Two</a>
                                        </li>
                                        <li><a href="#level2_2">Level Two</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#level1_2">Level One</a>
                                </li> -->
                        </ul>
                    </li>
                    <!-- <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li> -->
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="">
                <span class="glyphicon" aria-hidden="true">Usuario:</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="">
                <span class="glyphicon" aria-hidden="true">{{_infoPagina.usuario.usuario_usuario}}</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="">
                <span class="glyphicon" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>