/*.container {
    text-align: center
}*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
    display: inline-block
}

.no-gutters {
    margin: 0;
}

.centrar-texto {
    text-align: center;
}

.derecha-texto {
    text-align: right;
}

.centrar-contenido {
    display: flex;
    justify-content: center;
}

.derecha-contenido {
    display: flex;
    justify-content: right;
}